<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 开启注解模式 -->
    <context:annotation-config/>

    <context:component-scan base-package="com.casaba.service"/>

    <!--<context:property-placeholder file-encoding="utf-8" location="log4j.properties"/>-->

    <!-- 导入其他的配置文件：springmvc和mybatis的 -->
    <import resource="applicationContext-mvc.xml"/>
    <import resource="applicationContext-model.xml"/>

</beans>