<!DOCTYPE html>
<html lang="zh">
<head>
    <meta content="text/html" http-equiv="content-type" charset="UTF-8">
    <title>测试HTML与SpringMVC交互</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
</head>
<body>
<form method="post">
    <label for="username">姓名：</label>
    <input id="username" type="text">
    <label for="password">密码：</label>
    <input id="password" type="password">
    <input id="submit" type="submit" value="提交">
</form>
<script>
    $(function () {
        $("#submit").click(function () {
            // 获取数据，并通过 JSON.stringify() 方法将对象或数组转换为JSON字符串
            var data = JSON.stringify({
                "username": $("#username").val(),
                "password": $("#password").val()
            });
            $.ajax({
                url: "/test",
                dataType: "JSON", // 预期服务器返回的数据类型
                type: "POST",     // 请求方式
                contentType: "application/json",  // 发送信息至服务器时的内容编码格式（不配置有什么影响？）
                // 发送到服务器的数据
                data: data,
                success: function (result) {
                    // 登录成功
                    if(result.username!=null){
                        alert("欢迎："+result.username);
                    }else{
                        alert("登录失败："+result.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>