<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.casaba.mapper.UserMapper">
    <!-- 基础的 User 类结果映射：不包括 complaintList -->
    <resultMap id="user_map_base" type="com.casaba.entity.User">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="contactNum" column="CONTACT_NUM"/>
        <result property="wcOpenId" column="WC_OPEN_ID"/>
    </resultMap>

    <!-- User 类对象映射，包括 complaintList 和 WeChatUser -->
    <resultMap id="user_map_all" type="com.casaba.entity.User">
        <!-- 因为主表和从表主键名一样，所以需要其中一个起别名。这里的 column 是指查询结果中的列名，所以也要跟着改 -->
        <id property="id" column="UID"/>
        <result property="username" column="USERNAME"/>
        <result property="contactNum" column="CONTACT_NUM"/>
        <result property="wcOpenId" column="WC_OPEN_ID"/>
        <!-- property：在从表中的主表类对象的变量名；column：主表的关联的字段名；select：查询从表数据的方法； -->
        <association property="weChatUser" column="WC_OPEN_ID" javaType="com.casaba.entity.WeChatUser"
                     select="com.casaba.mapper.WeChatUserMapper.selectByOpenId"/>
        <collection property="complaintList" ofType="com.casaba.entity.Complaint" column="USER_ID">
            <id property="id" column="ID"/>
            <result property="details" column="DETAILS"/>
            <result property="sketch" column="SKETCH"/>
            <result property="imgUrl" column="IMG_URL"/>
            <result property="elevatorId" column="ELEVATOR_ID"/>
            <result property="userId" column="USER_ID"/>
        </collection>
    </resultMap>

    <!-- 根据用户名搜索该用户是否已经存在 -->
    <select id="selectByUsername" resultMap="user_map_base" parameterType="java.lang.String">
        SELECT * FROM tb_user WHERE USERNAME = #{username}
    </select>

    <!--获取最新插入的主键ID（即最大的ID）-->
    <select id="selectMaxId" resultType="java.lang.Long">
        SELECT max(id) FROM tb_user
    </select>

    <!-- 根据用户名和联系方式查询用户及其投诉单 -->
    <select id="selectByUserame$ContactNum" resultMap="user_map_all">
        SELECT u.ID UID, u.USERNAME, u.CONTACT_NUM, c.* FROM tb_user u
        JOIN tb_complaint c ON u.ID = c.USER_ID
        <choose>
            <when test="username != null">
                WHERE u.USERNAME = #{username}
                <if test="contactNum != null">
                    AND u.CONTACT_NUM = #{contactNum}
                </if>
            </when>
            <otherwise>
                WHERE u.CONTACT_NUM = #{contactNum}
            </otherwise>
        </choose>
    </select>

    <!-- 根据 openid 查询电梯用户 -->
    <select id="selectByWcOpenId" parameterType="java.lang.String" resultMap="user_map_base">
        SELECT * FROM tb_user WHERE WC_OPEN_ID = #{openId}
    </select>

    <!-- 根据用户的基本信息，关联查询所有数据 -->
    <!--<select id="selectAllInfo" parameterType="com.casaba.entity.User" resultMap="user_map_all">
        SELECT u.ID UID, u.USERNAME, u.CONTACT_NUM, u.WC_OPEN_ID, c.*, wc.* FROM tb_user u
            JOIN tb_complaint c ON u.ID = c.USER_ID
        <if test="wcOpenId != null">
            JOIN tb_wechat_user wc ON wc.OPEN_ID = #{wcOpenId}
        </if>
        <if test="username != null">
            WHERE u.USERNAME = #{username}
        </if>
        &lt;!&ndash;<choose>
            &lt;!&ndash;<when test="wcOpenId != null">
                JOIN tb_wechat_user wc ON wc.OPEN_ID = #{wcOpenId}
            </when>&ndash;&gt;
             <when test="username != null">
                WHERE u.USERNAME = #{username}
                <if test="contactNum != null">
                    AND u.CONTACT_NUM = #{contactNum}
                </if>
            </when>
            <otherwise>
                WHERE u.CONTACT_NUM = #{contactNum}
            </otherwise>
        </choose>&ndash;&gt;
    </select>-->

    <!-- 添加一个用户 -->
    <insert id="insertUser" parameterType="com.casaba.entity.User">
        INSERT INTO tb_user VALUES (#{id}, #{username}, #{contactNum}, #{wcOpenId})
    </insert>

    <!-- 根据用户名，更新电梯用户信息 -->
    <update id="updateUserByName" parameterType="com.casaba.entity.User">
        UPDATE tb_user
        SET CONTACT_NUM = #{contactNum},
            WC_OPEN_ID = #{wcOpenId}
        WHERE USERNAME = #{username}
    </update>

</mapper>